<html>
<head>
  <link rel='stylesheet' href='style.css'/>
  <link rel="icon" href="icon.png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>LiquidReuter</title>
</head>
<body>
  <section id='photos'>
    <img src='tall_reuter.jpg'/>
    <img src='turtle_reuter.jpg'/>
    <img src='floating_reuter.jpg'/>
    <img src='stumpy.jpg'/>
    
    <video controls playsinline autoplay loop>
      <source src='videos/my_guy_1.mp4' type='video/mp4'/>
    </video>

    <img src='elementary.jpg'/>
    <img src='face_swap.png'/>

    <img src='liquid_painting.jpg'/>

    <img src='the_gang.png'/>
    <img src='ed.jpg'/>
    <img src='lone_beach_reuter.jpg'/>
    <img src='america.png'/>
    <img src='oreo.jpg'/>
    <img src='cereal_baby.jpg'/>
    <img src='post.png'/>
    <img src='fractal_sparse.png'/>
    <img src='painting.jpg'/>
    <img src='ryuk.png'/>
    <img src='deep_fried_guy.jpg'/>
    <img src='panorama.jpg'/>
    <img src='deep_fry_gray.png'/>
    <img src='teletubies.jpg'/>
    <img src='wide_reuter.jpg'/>

    <img src='lockscreen.jpg'/>
    <img src='zombies_1.jpg'/>
    <img src='bars.jpg'/>
    <img src='cereal.jpg'/>
    <img src='turtle_head.jpg'/>


    <!-- flips between wooter and nixon vid on click -->
    <div id='clickable'>
    <div id='wooter'>
      <img src='wooter.jpg'/>
    </div>
    <div id='nixon' style='display:none;'>
      <video controls playsinline autoplay loop>
        <source src='videos/nixon.mp4' type='video/mp4'/>
      </video>
    </div>
    </div>
    <script>
      $('#clickable').on('click', function() {
        console.log('hello');
        if($('#nixon').css('display')=='none') {
          $('#nixon').show();
          $('#wooter').hide();
        }
        else {
          $('#nixon').hide();
          $('#wooter').show();
        }
      })
    </script>
    <img src='pancakes.gif'/>

    <img src='heaven_reuter.jpg'/>

    <img src='lone_beach_reuter.jpg'/>
    <img src='rat_race_sub_1.gif'/>
    <img src='liquid_reuter.png'/>

    <img src='fractal_dense.png'/>
    <img src='donald_reuter.png'/>
    <img src='boat_reuter.png'/>

    <video controls playsinline autoplay loop>
      <source src='videos/my_guy_2.mp4' type='video/mp4'/>
    </video>

    <img src='architect_reuter.png'/>
    <img src='baby_reuter.jpg'/>
    <img src='demon_turtle.jpg'/>
    <img src='balls_kill.gif'/>
    <img src='unwide.jpg'/>
    <img src='demon_baby.jpg'/>
    <img src='zombies_reuter.jpg'/>
    <img src='middle_part_reuter.jpg'/>
    <img src='baby_reuter.jpg'/>
    <img src='stumpy_2.jpg'/>

    <video controls playsinline autoplay loop>
      <source src='videos/couch_reuter.mp4' type='video/mp4'/>
    </video>

    <img src='happy_reuter.jpg'/>
    <img src='driveway_reuter.jpg'/>
  </section>

  <!-- Pop up picture -->
  <div id="myModal" class="modal">
    <img src='stella.jpg'/>
    <span id="close">&times;</span>
  </div> 
  <!-- make display after 10 seconds -->
  <script>
    setTimeout(function() {
      $('#myModal').show();
    }, 10000);
    $('#close').click(function() {
      $('#myModal').hide();
    });
  </script>
</body>
</html>
