<html>
<head>
  <link rel='stylesheet' href='style.css'/>
</head>
<body>
  <section id='photos'>
    <img src='tall_reuter.jpg'/>
    <img src='turtle_reuter.jpg'/>
    <img src='floating_reuter.jpg'/>
    
    <video controls playsinline autoplay loop>
      <source src='my_guy_1.mp4' type='video/mp4'/>
    </video>
    
    <img src='wide_reuter.jpg'/>
    <img src='heaven_reuter.jpg'/>
    <img src='zombies_reuter.jpg'/>

    <img src='rat_race_sub_1.gif'/>

    <img src='lone_beach_reuter.jpg'/>
    <img src='donald_reuter.png'/>
    <img src='boat_reuter.png'/>

    <video controls playsinline autoplay loop>
      <source src='my_guy_2.mp4' type='video/mp4'/>
    </video>

    <img src='architect_reuter.png'/>
    <img src='baby_reuter.jpg'/>
    <img src='middle_part_reuter.jpg'/>
    <img src='baby_reuter.jpg'/>

    <video controls playsinline autoplay loop>
      <source src='couch_reuter.mp4' type='video/mp4'/>
    </video>

    <img src='happy_reuter.jpg'/>
    <img src='driveway_reuter.jpg'/>
  </section>
</body>
</html>
