<html>
<head>
  <link rel='stylesheet' href='style.css'/>
  <link rel="icon" href="icon.png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>LiquidReuter</title>
</head>
<body>
  <section id='photos'>
    <%# dynamically insert images and videos in random order using ejs %>
    <%# choose random index to insert wooter/nixon pic/vid %>
    <% var wooter_idx = Math.floor(Math.random() * file_names.length)%>
    <%# choose random index to insert file upload form %>
    <% var upload_idx = Math.floor(Math.random() * file_names.length)%>
    <% file_names.forEach(function(file, i){ %>
    <%# if is an image, add img tag with next photo in list %>
    <% if(file.ftype == 'img' ) { %>
    <img src='images/<%= file.src %>'/>
    <%# else if file is a video, add video tag with autoplay and loop %>
    <% } else if (file.ftype == 'video' ) { %>
    <video controls playsinline autoplay loop>
      <source src='videos/<%= file.src %>' type='video/mp4'/>
    </video>
    <% } %>
    <%# insert wooter/nixon at appropriate index %>
    <% if (i == wooter_idx) { %>
    <!-- flips between wooter and nixon vid on click -->
    <div id='clickable'>
    <div id='wooter'>
      <img src='wooter.jpg'/>
    </div>
    <div id='nixon' style='display:none;'>
      <video controls playsinline autoplay loop>
        <source src='nixon.mp4' type='video/mp4'/>
      </video>
    </div>
    </div>
    <script>
      $('#clickable').on('click', function() {
        console.log('hello');
        if($('#nixon').css('display')=='none') {
          $('#nixon').show();
          $('#wooter').hide();
        }
        else {
          $('#nixon').hide();
          $('#wooter').show();
        }
      })
    </script>
    <% } %>

    <%# insert file upload form at appropriate index %>
    <% if (i == upload_idx) { %>
    <form action='/file_upload' method='post' enctype='multipart/form-data'>
      <!-- fake button displayed, with large size -->
      <button id='file_upload_button' style='width: 300px; height: 300px'>UPLOAD MORE LIQUID</button>
      <!-- actual file input, hidden but linked to by button above -->
      <input type='file' name='file_to_upload' id='file_to_upload', style='display: none'/>
      <input type='submit' name='submit' style='width: 300px;'/>
    </form>
    
    <script>
      // link fake button to file upload form
      $('#file_upload_button').click(function(){
        $('#file_to_upload').click();
        // prevent form from submitting after button clicked
        return false;
      });
    </script>
    <% } %>
    <% }); %>



  </section>

  <!-- Pop up picture -->
  <div id="myModal" class="modal">
    <img src='images/stella.jpg'/>
    <span id="close">&times;</span>
  </div> 
  <!-- make display after 10 seconds -->
  <script>
    setTimeout(function() {
      $('#myModal').show();
    }, 10000);
    $('#close').click(function() {
      $('#myModal').hide();
    });
  </script>
</body>
</html>
