/* references:
- https://css-tricks.com/seamless-responsive-photo-grid/
- https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
*/


#photos {
  /* prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  coumn-gap:            0px;
}

#photos img, video {
  /* just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

body {
  margin: 0;
  padding: 0;
}

/* resizing with browser */
@media (max-width: 1200px) {
  #photos {
    -moz-column-count:     4;
    -webkit-column-count:  4;
    column-count:          4;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count:     3;
    -webkit-column-count:  3;
    column-count:          3;
  }
}

@media (max-width: 800px) {
  #photos {
    -moz-column-count:     2;
    -webkit-column-count:  2;
    column-count:          2;
  }
}

/*
 * @media (max-width: 800px) {
 *   #photos {
 *     -moz-column-count:     1;
 *     -webkit-column-count:  1;
 *     column-count:          1;
 *   }
 * }
 */


/* popup beach stella pic */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color; #bbb;
  text-decoration: none;
  cursor: pointer;
}
